@import url(/assets/css/variable.css);
@import url(/assets/css/timeline.css);
@import url(/assets/css/skillset.css);
@import url(/assets/css/card.css);

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 18px "Poppins", sans-serif;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

ul {
    padding: 0;
}

section {
    padding: 100px 0;
}

section .section__header h1 {
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
}

.btn {
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-family: "Poppins", sans-serif ;
    cursor: pointer;
}

.btn__primary--solid {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.btn--outline {
    background-color: unset;
    color: var(--color-secondary--50);
    border: 1px solid var(--color-secondary--30);
}

.container {
    padding: 0 150px;
    position: relative;
}

i {
    vertical-align: middle;
}

.ic-logo {
    content: url('/assets/img/logo.svg');
}

.ic-logo-white {
    content: url('/assets/img/logo-white.svg');
}


.ic-hamburger {
    content: url('/assets/img/ic-hamburger.svg');
}

.ic-download {
    content: url('/assets/img/ic-download.svg');
}

.ic-scroll {
    content: url('/assets/img/ic-scroll.svg');
}

.ic-close {
    content: url('/assets/img/ic-close.svg');
    display: none;
}

.ic-school {
    content: url('/assets/img/ic-school.svg');
}

.ic-work {
    content: url('/assets/img/ic-work.svg');
}

.ic-calendar {
    content: url('/assets/img/ic-calendar.svg');
    opacity: .7;
}

.ic-arrow {
    content: url('/assets/img/ic-arrow.svg');
}

.ic-fe {
    content: url('/assets/img/ic-fe.svg');
}

.ic-be {
    content: url('/assets/img/ic-be.svg');
}

.ic-ui {
    content: url('/assets/img/ic-ui.svg');
}

.ic-arrow-right {
    content: url('/assets/img/ic-arrow-right.svg');
}

.ic-email {
    content: url('/assets/img/ic-email.svg');
}

.ic-instagram {
    content: url('/assets/img/ic-instagram.svg');
}

.ic-send {
    content: url('/assets/img/ic-send.svg');
}


.show {
    display: block;
}

.hidden {
    display: none;
}

/* header */
header {
    padding: 10px 0;
    background: var(--color-primary);
}

header .nav__desktop {
    display: flex;
    justify-content: space-between;
}

header .nav__mobile{
    display: none;
}

.header-mobile-active {
    background: var(--color-secondary);
    height: 100vh !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: var(--color-primary);
}

.nav__logo {
    display: flex;
}

.nav__logo > i {
    width: 90%;
}


.nav__desktop > nav > ul >li {
    list-style: none;
    display: inline-block;
    margin: 0 40px 0 0;
}

.nav__desktop > nav > ul > li > a {
    text-decoration: none;
    color: var(--color-secondary--50);
    font-size: .99em;
    font-weight: 500;
}

.nav__desktop > nav > ul > li > a:hover {
    color: var(--color-secondary);
}

.nav__mobile > nav {
    margin-top: 60px;
}

.nav__mobile > nav > ul > li {  
    list-style: none;
    text-align: center;   
    margin: 36px 0;
}

.nav__mobile > nav > ul > li > a {
    text-decoration: none;
    color: var(--color-primary);
    opacity: .8;
    font-size: 2.5em;
    font-weight: 200;
}

/* end of header */

/* hero */
#hero .container {
    display: flex;
    flex-direction: row;
}

#hero .container .ic-scroll{
    position: absolute;
    bottom: -10%;
    left: 50%;
    cursor: pointer;
    opacity: .9;
}

.hero__name {
    font-size: 1.1em;
    margin-bottom: 0;
    font-weight: 600;
}

.hero__role {
    font-size: 1em;
    font-weight: 500;
    color: var(--color-secondary--50);
    margin-top: 5px;
}

.hero__desc {
    font-size: 3.3em;
    margin-top: 3.25rem;
    font-weight: 600;
    width: 75%;
    line-height: 66px;
    letter-spacing: -0.03em;
}

.hero__desc > span {
    font-weight: 800;
}

.hero__action {
    margin-bottom: 4em;
    margin-top: 6.3em;
}

.hero__action a {
    text-decoration: none;
    font-size: .77em;
}

.hero__action button,
.hero__action a {
    display: inline-block;
    width: 12em;
    text-align: center;
}

.hero__action a:nth-child(2) {
    margin-left: 1.9em;
}

.hero__action a:nth-child(2) i {
    vertical-align: middle;
    margin: 0 5px;
}
/* end of hero */


/* about */
#about {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.about__desc {
    display: flex;
    justify-content: space-between;
}

.about__desc__photo {
    flex-basis: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.about__desc__photo > img {
    width: 50%;
}

.about__desc__text {
    flex-basis: 40%;
    vertical-align: middle;
    margin: auto;
}

.about__desc__text p {
    font-weight: 400;
    line-height: 1.5em;
    opacity: .4;
    font-weight: 200;
    width: 100%;
    margin: 1em 0;
    letter-spacing: 0.05em
}

.about__experience {
    margin-top: 105px;
    text-align: center;
}
/* end of about */

/* skill */

section#skill .section__content{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

/* end of skill */


/* portfolio */
section#portfolio {
    background-color: var(--color-secondary--10);
}

section#portfolio  .section__content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
/* end of portfolio */

/* contact */
section#contact {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

section#contact .section__content {
    display: flex;
    justify-content: space-around;
}

.contact__account > div {
    margin-bottom: .5em;
}

.contact__account > div > i {
    width: 1.2em;
    margin-right: 11px;
    opacity: .9;
}

.contact__account__text {
    display: inline-block;
    font-size: .88em;
    color: var(--color-primary--40);
    border-color: var(--color-primary--40);
}

.contact__account__text > i {
    margin-right: .3em;
}

.contact__acount {
    flex-basis: 50%;
}

.contact__form {
    flex-basis: 50%;
}

.contact__form form {
    display: flex;
    flex-direction: column;
}

.contact__form input,
.contact__form textarea{
    max-width: 90%;
    font: .88em "Poppins", sans-serif;
    font-weight: 300;
    border: 1px solid var(--color-primary--40);
    color: var(--color-primary);
    background-color: var(--color-primary--02);
    margin-bottom: 28px;
    padding: 10px 20px;
}

.contact__form #form-message {
    margin-bottom: 2em;
}

.contact__form input:focus,
.contact__form textarea:focus{
    outline-color: var(--color-primary);
    outline-width: 1px;
    outline-style:solid;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder{
    color: var(--color-primary--20);
}

.contact__form button {
    margin-left: auto;
    margin-right: 10%;
}

.contact__form button i {
    margin-left: 4px;
}

/* end of contact */

/* footer */
footer {
    background-color: var(--color-secondary);
    border-top: 1px solid var(--color-primary--20);
    padding: 2.3em;
    color: var(--color-primary);
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__logo > img {
    width: 90%;
}

.footer__social__media > a{
    margin: 0 .8em ;
    text-decoration: none;
    vertical-align: middle;
} 

.footer__social__media > a > img {
    vertical-align: middle ;
}

.footer__bottom {
    text-align: center;
    margin-top: 3em;
}

.footer__bottom > p {
    font-size: .77em;
    font-weight: 300;
    opacity: .7;
}

.footer__bottom > p,
.footer__bottom > img{
    display: inline;
    vertical-align: middle;
}
/* end of footer */

/* back to top */
.back__to__top.hide {
    opacity: 0;
}

.back__to__top {
    width: 2.3em;
    position: fixed;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    bottom: 1.5em;
    right: 1.5em;
    padding: .3em 0;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.fadeOut {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: hideBtn;
}

.fadeIn {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: showBtn;
}

@keyframes showBtn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


@keyframes hideBtn {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
}

.back__to__top > p {
    font-size: .77em;
    display: inline-block;
    color: var(--color-secondary);
    font-weight: 500;
    text-decoration: none;
}

.back__to__top > p > i {
    transform: rotate(-90deg);
    color: var(--color-secondary);
}
/* end of back to top */

@media screen and (max-width:767px) {
    body {
        font: 16px "Poppins", sans-serif;
    }

    img {
        width: 50%;
    }

    section {
        padding: 50px 0;
    }

    section .section__header h1 {
        margin-bottom: 50px;
    }
    
    .container {
        padding: 0 20px;
    }
    
    /* header */
    header .nav__mobile {
        display: block;
    }

    header .nav__mobile div{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }

    header .nav__desktop {
        display: none;
    }

    /* end of header */

    /* hero */

    #hero .container {
        display: flex;
        flex-direction: column-reverse;
    }

    #hero  .container .ic-scroll {
        display: none;
    }

    .hero__image {
        margin-bottom: 31px;
    }

    
    .hero__desc {
        font-size: 2.6em;
        line-height: 1.2em;
        width: 100%;
    }
    
    /* end of hero */

    /* about */
    .about__desc {
        flex-direction: column;
    }

    .about__desc__photo {
        margin-bottom: 31px;
    }

    .about__desc__text p {
        width: 80%;
        margin: 1em auto;
    }

    /* end of about */


    /* skill */
    section#skill .section__content{
       flex-direction: column;
    }
    /* end of skill */

    /* portfolio */
    section#portfolio  .section__content {
        flex-direction: row;
    }

     /* end of portfolio */

     /* contact */
     section#contact .section__content {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .contact__account {
        margin-bottom: 2em;
    }
    
    .contact__form input,
    .contact__form textarea{
        max-width: 100%;
    }

    .contact__form button {
        margin: 0 auto;
    }
    
     /* end of contact */

     /* footer */
    footer {
        padding: 2.3em .05em;
    }

    .footer__top {
        flex-direction: column;
    }
    
    .footer__logo > img {
        width: 3.5em;
    }

    .footer__social__media {
        margin-top: 1.4em;
    }

    .footer__social__media > a {
        display: inline-block;
        margin: 0 .05em;
        width: 2.8em;
        padding: .1em;
    }

    .footer__social__media > a:nth-child(1) {
        margin-left: 0;
        padding-left: 0;
    }
    
    .footer__bottom {
        text-align: left;
    }

    .footer__bottom > img {
        width: 5em;
    }

    .footer__bottom > p {
        font-size: .66em;
    }

    /* end of footer */

}

@media screen and (min-width:768px) and (max-width:960px ) {
    body {
        font: 17px "Poppins", sans-serif;
    }

    img {
        width: 70%;
    }

    .container {
        padding: 0 70px;
    }

    section .section__header h1 {
        margin-bottom: 70px;
    }

    /* hero */

    .hero__action button {
        margin-top: 42px;
    }
    /* end of hero */

    /* about */
   
    /* end of about */

    /* skill */
    section#skill .section__content{
        flex-direction: column;
        align-items: center;
    }
    /* end of skill */

    /* portfolio */
       section#portfolio  .section__content {
        flex-direction: row;
    }

     /* end of portfolio */

    /* contact */
    section#contact .section__content {
    display: flex;
    width: 90%;
    margin: auto;
    }

    .contact__account {
        margin-bottom: 2em;
    }
    
    .contact__form input,
    .contact__form textarea{
        max-width: 100%;
    }

    .contact__form button {
        margin: 0 auto;
    }
    
    /* end of contact */

       /* footer */
       footer {
        padding: 2.3em .05em;
    }

    .footer__top {
        flex-direction: column;
    }
    
    .footer__logo > img {
        width: 5em;
    }

    .footer__social__media {
        margin-top: 1.4em;
    }

    .footer__social__media > a {
        display: inline-block;
        margin: 0 .05em;
        width: 2.8em;
        padding: .1em;
    }

    .footer__social__media > a:nth-child(1) {
        margin-left: 0;
        padding-left: 0;
    }
    
    .footer__bottom {
        text-align: left;
    }

    .footer__bottom > img {
        width: 5em;
    }

    .footer__bottom > p {
        font-size: .66em;
    }

    /* end of footer */


    
}

@media screen and (min-width:961px ) and (max-width:1040px )    {
    body {
        font: 18px "Poppins", sans-serif;
    }

    .container {
        padding: 0 100px;
    }

    section .section__header h1 {
        margin-bottom: 80px;
    }
    
    /* hero */

    /* end of hero */

    /* about */
   
    /* end of about */

    /* skill */
      section#skill .section__content{
        flex-direction: column;
        align-items: center;
     }
     /* end of skill */

     /* contact */
     section#contact .section__content {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .contact__account {
        margin-bottom: 2em;
    }
    
    .contact__form input,
    .contact__form textarea{
        max-width: 100%;
    }

    .contact__form button {
        margin: 0 auto;
    }
    
    /* end of contact */

  
}
